<!DOCTYPE html>
<html> 
<body> 
@{
if(IsPost){
int NumberA = Convert.ToInt32(Request["NumberA"]);
int NumberB = Convert.ToInt32(Request["NumberB"]);

switch (Function)
{
case Add:
NumberA + NumberB;
break;

case Sub:
NumberA - NumberB;
break;

case Div:
NumberA / NumberB;
break;

case Mult:
NumberA * NumberB;
break;

default:
break;
}

}
}

			<div class='numbers'>
				  <label>NumberA</label>
				  <input id='numberA' name='numberA' type='text'/>
				  <label>NumberB</label>
				  <input id='numberB' name='numberB' type='text'/>
			</div>
			
			<fieldset class='legacy-form-row'>
					  <legend>Function:</legend>
					  <input id='Add'
							 name='add'
							 type='radio'
							 value='Addition' />
					  <label class='radio-label'>Addition</label>
					  <input id='Sub'
							 name='sub'
							 type='radio'
							 value='Subtraction' />
					  <label class='radio-label'>Subtraction</label>
					  <input id='Div'
							 name='div'
							 type='radio'
							 value='Division' />
					  <label class='radio-label'>Division</label>
					  <input id='Mult'
							 name='mult'
							 type='radio'
							 value='Multiplication' />
					  <label class='radio-label'>Multiplication</label>
				</fieldset>
			
			<button>Submit</button>
			
			<label>Answer:</label>
				  <input id='answer' name='answer' type='text'/>
</body> 
</html>