 
@{
int Answer = 0;
if(IsPost){
int NumberA = Convert.ToInt32(Request["NumberA"]);
int NumberB = Convert.ToInt32(Request["NumberB"]);
string Function = Request["Function"];


switch (Function)
{
case "Addition":
Answer =NumberA + NumberB;
break;

case "Subtraction":
Answer = NumberA - NumberB;
break;

case "Division":
Answer = NumberA / NumberB;
break;

case "Multiplication":
Answer = NumberA * NumberB;
break;

default:
break;
}


}
}
<!DOCTYPE html>
<html> 
<body>
<form action='' method='post' class='speaker-form'>

			<div class='numbers'>
				  <label>NumberA</label>
				  <input id='numberA' name='numberA' type='text'/>
				  <label>NumberB</label>
				  <input id='numberB' name='numberB' type='text'/>
			</div>
			
			<fieldset class='legacy-form-row'>
					  <legend>Function:</legend>
					  <input id='Add'
							 name='Function'
							 type='radio'
							 value='Addition' />
					  <label class='radio-label'>Addition</label>
					  <input id='Sub'
							 name='Function'
							 type='radio'
							 value='Subtraction' />
					  <label class='radio-label'>Subtraction</label>
					  <input id='Div'
							 name='Function'
							 type='radio'
							 value='Division' />
					  <label class='radio-label'>Division</label>
					  <input id='Mult'
							 name='Function'
							 type='radio'
							 value='Multiplication' />
					  <label class='radio-label'>Multiplication</label>
				</fieldset>
			
			<button>Submit</button>
			
			<div>
			Answer: @Answer
			</div>
			</form>
</body> 
</html>