<!DOCTYPE html>
<html> 
<body> 
@{
if(isPost){

}
}

			<div class='numbers'>
				  <label>Number1</label>
				  <input id='numberOne' name='numberOne' type='text'/>
				  <label>Number2</label>
				  <input id='numberTwo' name='numberTwo' type='text'/>
			</div>
			
			<fieldset class='legacy-form-row'>
					  <legend>Function:</legend>
					  <input id='Add'
							 name='add'
							 type='radio'
							 value='Addition' />
					  <label class='radio-label'>Addition</label>
					  <input id='Sub'
							 name='sub'
							 type='radio'
							 value='Subtraction' />
					  <label class='radio-label'>Subtraction</label>
					  <input id='Div'
							 name='div'
							 type='radio'
							 value='Division' />
					  <label class='radio-label'>Division</label>
					  <input id='Mult'
							 name='mult'
							 type='radio'
							 value='Multiplication' />
					  <label class='radio-label'>Multiplication</label>
				</fieldset>
			
			<button>Submit</button>
</body> 
</html>